//  colors
$grey: #EAEAEA;
$dark-grey: #353535;
$purple: #9356dc;
$background: #F7F7F7;
$green: #99E2D0;



* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;

}

a {
    color: inherit;
}

.menupage_navbar {
    height: 63px;
    @include flex-center;

    .arrow_nav {
        display: flex;
        position: absolute;
        left: 23px;
        align-self: center;
        font-size: 19px;
    }

    .nav_logo {
        width: 100%;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 30px;
    }

    @media screen and (min-width: 1440px) {
        height: 96px;

        .nav_logo {
            font-size: 40px;
        }
    }
}

.button {
    width: 218px;
    height: 50px;
    border-style: none;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        
    }
}

.restaurant_card_icon {
    position: relative;
    @include flex-center
}

.icon_card {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s;
    transition-delay: 0.6s;
}

.icon_card2 {
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s;
    transform: scale(0);
}

.checkbox {
    display: none
}

.checkbox:checked~.icon_card2 {
    transform: scale(1);
}

.checkbox:checked~.icon_card {
    transform: scale(0);
}

footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    background-color: $dark-grey;
    color: white;
    gap: 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

    .footer_logo {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 18px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 0;

        li {
            display: flex;

            i {
                width: 11px;
                height: 13px;
                margin-right: 11px;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        height: 114px;
        align-items: flex-end;
        padding: 30px;

        ul {
            flex-direction: row;
            gap: 10px;
            margin-right: 60px;

            .partenaire {
                margin-right: 15px;
            }
        }
    }
}


.loader {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    opacity: 80%;
    z-index: 100;
    @include flex-center;
    animation: opaque 1s cubic-bezier(0.39, 0.575, 0.565, 1) both 2000ms,
    disappear 0s cubic-bezier(0.39, 0.575, 0.565, 1) both 3000ms;
}

.burger {
    @include flex-center;
    z-index: 1001;
    width: 200px;
    height: 200px;
    font-size: 100px;
    background: -webkit-linear-gradient(top, rgba(147, 86, 220), rgba(255, 121, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotate_icon 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 8 both;
}