@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

a {
  color: inherit;
}

.menupage_navbar {
  display: flex;
  align-items: center;
  height: 63px;
  justify-content: center;
}
.menupage_navbar .arrow_nav {
  display: flex;
  position: absolute;
  left: 23px;
  align-self: center;
  font-size: 19px;
}
.menupage_navbar .nav_logo {
  width: 100%;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
}

.button {
  width: 218px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.icon_card {
  font-size: 21px;
}

.checkbox {
  display: none;
}
.checkbox:checked ~ .icon_card {
  font-weight: 900;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  background-color: #353535;
  color: white;
  gap: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
}
footer ul li {
  display: flex;
}
footer ul li i {
  width: 11px;
  height: 13px;
  margin-right: 11px;
}

.locate {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  font-size: 17px;
  font-weight: 500;
}
.locate .nav_location {
  margin-left: 17px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 26px;
  background-color: #F7F7F7;
}
.explore .explore_title {
  font-size: 24px;
  font-weight: 700;
  width: 80%;
}
.explore .explore_text {
  font-size: 18px;
  font-size: 300;
  color: #353535;
  margin-bottom: 27px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 20px;
}
.fonctionnement .fonctionnement_title {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.fonctionnement .fonctionnement_card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 72px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement .fonctionnement_card .fonctionnement_number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  background: #9356dc;
  position: relative;
  left: -10px;
  font-size: 14px;
}
.fonctionnement .fonctionnement_card .fonctionnement_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7E7E7E;
  font-size: 19px;
}
.fonctionnement .fonctionnement_card .fonctionnement_icons--purple {
  color: #9356dc;
}
.fonctionnement .fonctionnement_card .fonctionnement_card_text {
  font-weight: 500;
}

.restaurant {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 66px 15px;
  gap: 18px;
}
.restaurant .restaurant_title {
  font-size: 24px;
  font-weight: 700;
}
.restaurant .restaurant_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 251px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurant .restaurant_card .new_card {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  margin-top: 10px;
  right: 7%;
}
.restaurant .restaurant_card .restaurant_card_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant .restaurant_card .restaurant_card_content {
  padding: 16px 25px 12px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.restaurant .restaurant_card .restaurant_card_content .restaurant_name {
  font-size: 18px;
  font-weight: 700;
}
.restaurant .restaurant_card .restaurant_card_content .restaurant_location {
  font-size: 17px;
  font-weight: 300;
}

.menupage_background {
  -o-object-fit: cover;
     object-fit: cover;
}
.menupage_background img {
  width: 105%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menupage_menu {
  border-radius: 50px;
  background-color: #EAEAEA;
  margin-top: -60px;
  position: relative;
}

.menupage_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.menupage_title .menupage_title_text {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

.menu {
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu .entree {
  display: flex;
  flex-direction: column;
}
.menu .entree .line_under_title {
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
}/*# sourceMappingURL=style.css.map */